@import "../../assets/sass/main.scss";

.Footer {
  padding: 48px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  position: relative;
  background-color: $color-blue-dark;
  a,
  a:visited {
    color: rgba(255, 255, 255, 0.817);
  }
  a:hover,
  a:focus {
    color: #fff;
  }
}

.InitialBox {
  margin-top: 10rem;
  margin-bottom: 5rem;
  @include respond(df, mbl) {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }
  .Initial {
    @include respond(df, mbl) {
      width: 35%;
    }
    width: 20%;
  }
}
