@import "../../assets/sass/main.scss";

.BarExpand {
  background-color: $color-blue-dark;
}

.Tools {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include respond(df, tab-p) {
    grid-template-columns: 1fr 1fr;
  }

  .Tool {
    padding: 1rem;
    width: 100%;
    overflow: hidden;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    .ToolContent {
      padding: 2rem 0.5rem;
      background-color: $color-blue-dark;
    }
    p {
      margin: 0;
      font-weight: bold;
      color: #fff;
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}
