.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2rem;
  position: relative;
}

.Content {
  flex-grow: 1;
  padding-top: 3rem;
  padding-bottom: 3rem;
  filter: blur(0.2px);
}

.Particle {
  position: fixed;
}
